.title{
    text-align: center;
    color: var(--dark-color);
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    border-bottom: 2px solid var(--primary-color);
}
.sidebar{
    width: 100%;
    background-color:var( --secondary-color);
    padding: 10px;
    /* position: fixed; */
    /* height: 100%; */
    /* overflow-y: auto */
}
.sidebar{ 
     position: sticky;
    top: 65px;
    z-index: 999; 
    height: 100vh;
    width: 100%;
    overflow-y: auto;

}
.sidebar{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    /* height: 100vh; */
}

.sidebar h2{
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li{
    margin: 10px 0;
}

.sidebar a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    display: block;
    padding: 10px;
}

.sidebar a:hover{
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}

.sidebar a.active{
    background-color: #007bff;
    color: white;
    border-radius: 4px;

}

.card_btn{
    /* width: 100%; */
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    margin: 0.5rem;
    /* margin-left: 4rem; */
    border-radius: 10px;
}   